$primary-blue: rgb(0, 0, 110);
$second-blue: rgb(0, 0, 73);
$neutral-blue: rgb(20, 20, 37);
$light-blue:  rgb(54, 70, 158);
$linear-gradient: linear-gradient(to bottom rgb(63, 63, 161), rgb(0, 0, 73));

$primary-orange: rgb(255, 137, 27);