.sections-container {
  display: flex;
  align-items: start;
  justify-content: space-around;
  position: relative;

  gap: .5rem;  
  top: -20px;

  width: 80vw;
  height: 400px;
  margin: 0 auto;
}

.section {
  overflow: hidden;

  cursor: pointer;

  position: relative;
  display: flex;
  flex-direction: column;

  background-color: white;

  width: 30%;
  border-radius: .3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.507);

  img {
    aspect-ratio: 4/3.5;
    object-fit: cover;

    border-radius: .3rem;

    transition: all .3s;
  }
}

.section:hover {
  img {
    aspect-ratio: 4/3.8;
    object-fit: cover;

    border-radius: .3rem;
    transform: scale(1.2);
  }
}

.text-section {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem;
  bottom: 0;
  width: 100%;
  gap: .5rem  ;

  font-size: calc(1vw + 5px);
  font-weight: bold;

  background-color: rgb(255, 255, 255);
  color: $second-blue;

  img {
    width: 20px;
  }
}